body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lib-controls {
    padding: 5px;
}

.lib-controls-component {
    padding: 5px 0 5px 0;
}

.red {
    color: red;
}

ul {
    list-style: none;
}

.list-group {
    width: 40%;
    padding: 2%;
    border: 1px solid#cccccc;
    border-radius: 1px;
}

.control-button {
    padding: 2px;
}

.ok {
    border: 1px solid green;
}

.err {
    border: 1px solid red;
}

.focusInValid {
    border: 3px solid red;
    outline: none;
}

.ok.form-control:focus {
    border: 3px solid green;
    outline: none;
}

.focusInValid.form-control:focus {
    border: 3px solid red;
    outline: none;
}

.exp_value {
    font-weight: bold;
}
