body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: red;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  color: red;
  background: linear-gradient(-45deg, #FEE864, #F5965E);
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}

.ok {
  border:1px solid green;
}

.err {
  border:1px solid red;
}

.focusInValid {
  border:3px solid red;
  outline: none;
}

.input-group, .form-control {
  width: 40%;
  margin-top: 2%;
}

.input-group-append {
  margin-top: 2%;
}

.ok.form-control:focus {
  border:3px solid green;
  outline: none;
}

.focusInValid.form-control:focus {
  border:3px solid red;
  outline: none;
}

.exp_value {
  font-weight: bold;
}
